pyproject-toml==0.0.10
fasttext==0.9.1
ffmpeg<5
setuptools==69.2.0
Cython
accelerate
Megatron
python-multipart
ffmpeg-downloader
fastapi~=0.95
uvicorn~=0.22
requests~=2.30
pydantic~=1.10
transformers~=4.38.2